<ion-view ng-controller="CalendarCtrl" view-title="Calendar" ng-init="getFlights()">	
	<ion-header-bar class="bar-stable">
  		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      	<i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">Calendar</h1>		  
		<!--<button class="button button-clear" ng-click="back()">Back</button>-->
    </ion-header-bar> 	
	<ion-content class="padding has-header">
		<ion-list>
  			<ion-item ng-repeat="flight in flights">
				<button class="button button-positive" ng-controller="CalendarCtrl" ng-click="insertToCalendar('{{flight.id}}')" style='float: right;'>
					<i class="ion-calendar"> </i> Add to Calendar
				</button>
				<p>Flight Number: {{flight.code}}</p>
				<p>Departure From: {{flight.departureLocation}}</p>
				<p>Departure Date: {{flight.departureDate}}</p>
				<p>Arrival Date: {{flight.arrivalDate}}</p>		  				
  			</ion-item>
		</ion-list>
	</ion-content>	
</ion-view>
<!--ng-class="button button-positive"getFlights({{flight.flightNumber}}) -->