<ion-view ng-controller="PassportCtrl" view-title="Index">
	
	<ion-header-bar class="bar-stable">
		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      <i class="icon ion-navicon"></i>
	    </button>
	 	<h1 class="title">FlightPub - Passport Countries</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()">
		
		<ion-list>
			<!-- Header -->
			<ion-item class=" item item-divider">
				<div class="row">
					<div class="col-50" style="text-align: center;">Country</div>
					<div class="col-50" style="text-align: center;">Date</div>
				</div>
			</ion-item>
			
			<!-- List Items -->
			<ion-item ng-repeat="flight in flights">
				<div class="row">
					<div class="col-50">{{flight.arrivalLocation}}</div>
					<div class="col-50" style="text-align: right;">{{flight.arrivalDate | date: smallDate}}</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}">
			<ion-nav-view name="{{tab.tabName}}"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
	
</ion-view>