<ion-view ng-controller="PassportCtrl" view-title="Index">
	
	<ion-header-bar class="bar-stable">
		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      <i class="icon ion-navicon"></i>
	    </button>
	 	<h1 class="title">FlightPub - Passport Details</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()">
		
		<div class="image-container">
			<img src="img/NewUser_256.png"/>
		</div>
		
		<div class="padding-horizontal">
			<div class="row">
				<div class="col-50">Name: </div>
				<div class="col-50" style="text-align: right">{{user.fullName()}}</div>
			</div>
			
			<div class="row">
				<div class="col-50">Date of Birth: </div>
				<div class="col-50" style="text-align: right">{{user.dateOfBirth | date: smallDate}}</div>
			</div>
			
			<div class="row">
				<div class="col-50">Address: </div>
				<div class="col-50" style="text-align: right">{{user.address()}}</div>
			</div>
			
			<div class="row">
				<div class="col-50">Country: </div>
				<div class="col-50" style="text-align: right">{{user.country}}</div>
			</div>
		</div>
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}">
			<ion-nav-view name="{{tab.tabName}}"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
	
</ion-view>