<ion-view ng-controller="PassportCtrl" view-title="Index">
	
	<ion-header-bar class="bar-stable">
		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      <i class="icon ion-navicon"></i>
	    </button>
	 	<h1 class="title">FlightPub - Passport</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header carbon" on-swipe-left="swipeLeft()">
		<h1 class="title" style="text-align:center;">PASSPORT</h1>
		
		<div class="image-container">
			<img src="img/FlightPubStamp.png"/>
		</div>
		
		<h3 class="title" style="text-align:center;">{{user.country}}</h3>
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}">
			<ion-nav-view name="{{tab.tabName}}"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>