<ion-view ng-controller="PassportCtrl" view-title="Map">
	
	<ion-header-bar class="bar-stable">
		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      <i class="icon ion-navicon"></i>
	    </button>
	 	<h1 class="title">FlightPub - Passport Map</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header" on-swipe-right="swipeRight()">
		<div ng-controller="MapCtrl" class="googleMap">
			<ui-gmap-google-map center='map.center' zoom='map.zoom' dragging='map.dragging'>
				<ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        		</ui-gmap-marker>
			</ui-gmap-google-map>
		</div>
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}">
			<ion-nav-view name="{{tab.tabName}}"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
	
</ion-view>