<ion-view ng-controller="SettingsCtrl" view-title="Login">
	
	<ion-header-bar class="bar-stable">
		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      <i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">FlightPub - Settings</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header">
		<button class="button button-block button-calm" ng-click="downloadUserData()">Download User Data</button>
		<button class="button button-block button-calm" ng-click="downloadFlightData()">Download Flight Data</button>
		<button class="button button-block button-calm" ng-click="logOut()">Log Out</button>
	</ion-content>
	
</ion-view>