<ion-view ng-controller="HomeCtrl" view-title="Home">
	
	<ion-header-bar class="bar-stable">
		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      <i class="icon ion-navicon"></i>
	    </button>
	 	<h1 class="title">FlightPub - Home</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header">
		<h1>Next Flight</h1>
		<h2>In {{nextFlight.daysUntilFlight()}} Days</h2>
		<hr />
		
		<div class="row">
			<div class="col-50">Flight Code:</div>
			<div class="col-50">{{nextFlight.code}}</div>
		</div>
		<hr />
		
		<div class="row">
			<div class="col-50">Departure Location:</div>
			<div class="col-50">{{nextFlight.departureLocation}}</div>
		</div>
		<div class="row">
			<div class="col-50">Departure Date:</div>
			<div class="col-50">{{nextFlight.departureDate | date: smallDate}}</div>
		</div>
		<div class="row">
			<div class="col-50">Departure Local Time:</div>
			<div class="col-50">{{nextFlight.departureDate | date:'HH:mm:ss Z'}}</div>
		</div>
		<hr />
		
		<div class="row">
			<div class="col-50">Arrival Location:</div>
			<div class="col-50">{{nextFlight.arrivalLocation}}</div>
		</div>
		<div class="row">
			<div class="col-50">Arrival Date:</div>
			<div class="col-50">{{nextFlight.arrivalDate | date: smallDate}}</div>
		</div>
		<div class="row">
			<div class="col-50">Arrival Local Time:</div>
			<div class="col-50">{{nextFlight.arrivalDate | date:'HH:mm:ss Z'}}</div>
		</div>
		<hr />
		
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}({flightId: flightDetails.id})">
		</ion-tab>
	</ion-tabs>
	
</ion-view>