<ion-view ng-controller="HomeCtrl" view-title="Login">
	
	<ion-header-bar class="bar-stable">
		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      <i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">FlightPub - Login</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header">
		
		<div class="row">
			<div class="col-100" style="width: 128px;  display: block;  margin-left: auto;  margin-right: auto;">
				<img src="img/FlightPub_128.png" align="middle"/>
			</div>
		</div>
		
		<div class="error" ng-if="loginVM.invalid">
			<ul>
	            <li ng-repeat="error in loginVM.errors">
	              {{error}}
	            </li>
          	</ul>
		</div>
		
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Email Address" ng-model="loginVM.email" >
			</label>
			
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="loginVM.password">
			</label>
		</div>
		
		<button class="button button-block button-calm" ng-click="login()">Login</button>
	</ion-content>
	
</ion-view>