<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- Google Maps -->
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="lib/lodash/lodash.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/all.js"></script>
    
    <!-- Calendar script-->
    <!--<script type="text/javascript" src="js/Calendar.js"></script>-->
    
  </head>
  
  <body ng-app="FlightPub">
    
    <ion-side-menus>
      
      <!-- Center Content-->
      <ion-side-menu-content>
        <!-- Main Display Panel-->
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>
      
      <!-- Left Menu--->
      <ion-side-menu side="left">
        <!-- Buffer the header-->
        <ion-header-bar class="bar-stable"></ion-header-bar>
        
        <ion-content ng-controller="NavCtrl">
          <ion-list>
            <ion-item ng-repeat="link in links" ng-click="goto(link.link)" style="display: {{(loggedIn()) ? 'block' : 'none' }};" menu-close>
              {{link.name}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>          
    </ion-side-menus>
          
  </body>
</html>
