<div class="modal">
	<ion-header-bar>
		<h1 class="title">Edit Task</h1>
	</ion-header-bar>
	
	<ion-content>
		<div class="list">
		<label class="item item-input">
			<span class="input-label">Title</span>
			<input type="text" ng-model="taskModal.data.title">
		</label>
		<label class="item item-input">
			<span class="input-label">Due</span>
			<input type="date" ng-model="taskModal.data.dueDate">
		</label>
		</div>
	
		<button class="button button-full button-balanced" ng-click="updateTask(taskModal.data)">Done</button>
	</ion-content>
</div>