<ion-view ng-controller="FlightCtrl" view-title="Flight Checklist">
	
	<ion-header-bar class="bar-stable">
  		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      	<i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">FlightPub - Checklist</h1>
    
		<button class="button button-clear" ng-click="back()">Back</button>
	</ion-header-bar> 
	
	<ion-content class="padding has-header">
		
		<button class="button button-block button-positive icon-right ion-plus-round" ng-click="newTask()">New Task</button>
		
		<ion-list>
			<!-- List Items -->
			<ion-item ng-repeat="item in flightChecklist" ng-click="toggleChecklistItem(item)" done="{{item.done}}" overdue="{{item.overdue()}}" >
				<div class="row">
					<div class="col-25" >{{item.title}}</div>
					<div class="col-50" style="text-align: center;">Due by {{item.dueDate | date:smallDate}}
						<i class="icon ion-checkmark-circled larger" style="display: {{(item.done) ? 'inline' : 'none'}};"></i>
						<i class="icon ion-android-warning larger" style="display: {{(item.warning()) ? 'inline' : 'none'}};"></i>
					</div>
					<div class="col-25 button-bar">
						<button class="button button-small button-positive" ng-click="editTask(item)">Edit</button>
						<button class="button button-small button-positive" ng-click="deleteTask(item.id)">Delete</button>
					</div>
				</div>
			</ion-item>
			
		</ion-list>
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}({flightId: flightDetails.id})">
		</ion-tab>
	</ion-tabs>
	
</ion-view>