<ion-view ng-controller="FlightCtrl" view-title="Flight Details">
	
	<ion-header-bar class="bar-stable">
  		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      	<i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">FlightPub - My Flights</h1>
		  
 		<button class="button button-clear" ng-click="back()">Back</button>
    </ion-header-bar> 
	
	<ion-content class="padding has-header">
		
		<div class="row">
			<div class="col-50">Flight Code: </div>
			<div class="col-50">{{flightDetails.code}}</div>
		</div>
		
		<hr>
		
		<div class="row">
			<div class="col-50">Departure Location: </div>
			<div class="col-50">{{flightDetails.departureLocation}}</div>
		</div>
		
		<div class="row">
			<div class="col-50">Departure Date: </div>
			<div class="col-50">{{flightDetails.departureDate | date:smallDate}}</div>
		</div>
		
		<div class="row">
			<div class="col-50">Local Time: </div>
			<div class="col-50">{{flightDetails.departureDate | date:'HH:mm:ss Z' }}</div>
		</div>
		
		<hr>
		
		<div ng-if="item.StopOverLocation">
			<div class="row">
				<div class="col-50">Local Time: </div>
				<div class="col-50">{{flightDetails.departureDate | date:'HH:mm:ss Z' }}</div>
			</div>
			
		</div> 
		
		<div class="row">
			<div class="col-50">Arrival Location: </div>
			<div class="col-50">{{flightDetails.arrivalLocation}}</div>
		</div>
		
		<div class="row">
			<div class="col-50">Arrival Date: </div>
			<div class="col-50">{{flightDetails.arrivalDate | date:smallDate}}</div>
		</div>
		
		<div class="row">
			<div class="col-50">Local Time: </div>
			<div class="col-50">{{flightDetails.arrivalDate | date:'HH:mm:ss Z' }}</div>
		</div>
		
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}({flightId: flightDetails.id})">
		</ion-tab>
	</ion-tabs>
	
</ion-view>