<ion-view ng-controller="FlightCtrl" view-title="Flight Index">
	
	<ion-header-bar class="bar-stable">
  		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      	<i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">FlightPub - My Flights</h1>
    </ion-header-bar> 
	
	<ion-content class="padding has-header">
		<ion-list>
			
			<!-- Header -->
			<ion-item class="item item-divider">
				<div class="row">
					<div class="col-50" style="text-align: center;">Flight</div>
					<div class="col-50" style="text-align: center;">Departure Date</div>
				</div>
			</ion-item>
			
			<!-- List Items -->
			<ion-item ng-repeat="flight in flights" ui-sref="flight.details({flightId: flight.id})">
				<div class="row">
					<div class="col-50" style="text-align: center;">{{flight.code}}</div>
					<div class="col-50" style="text-align: center;">{{flight.departureDate | date:smallDate}}</div>
				</div>
			</ion-item>
			
		</ion-list>
	</ion-content>
	
</ion-view>