<div class="modal">
	<ion-header-bar>
		<h1 class="title">Edit Note</h1>
	</ion-header-bar>
	
	<ion-content>
		<div class="list">
		<label class="item item-input">
			<textarea placeholder="Note message" ng-model="noteModal.data.body" style="width: 100%; height: 100px;"></textarea>
		</label>
		</div>
	
		<button class="button button-full button-balanced" ng-click="updateNote(noteModal.data)">Done</button>
		<button class="button button-full button-assertive" ng-click="deleteNote(noteModal.data.guid)">Delete Note</button>
	</ion-content>
</div>