<ion-view ng-controller="FlightCtrl" view-title="Flight Checklist">
	
	<ion-header-bar class="bar-stable">
  		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      	<i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">FlightPub - Notes</h1>
    
		<button class="button button-clear" ng-click="back()">Back</button>
	</ion-header-bar> 
	
	<ion-content class="padding has-header">
		
		<button class="button button-block button-positive icon-right ion-plus-round" ng-click="newNote()">New Note</button>
		
		<ion-list>
			
			<div class="card" ng-repeat="card in flightNotes">
				<div class="item item-text-wrap" ng-click="editNote(card)">{{card.body}}</div>
			</div>
			
		</ion-list>
	</ion-content>
	
	<ion-tabs class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}({flightId: flightDetails.id})">
		</ion-tab>
	</ion-tabs>
	
</ion-view>