<ion-view ng-controller="poiCtrl" view-title="POI" ng-init="getLocation()">	
	<ion-header-bar class="bar-stable">
  		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      	<i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">Points of Interest</h1>		  
    </ion-header-bar> 	
	<ion-content class="padding has-header">
		<h3 align="center">
			Top Picks Nearby
			<p><img align="middle" src="img\poweredbyfoursquare.png"/> </p>
		</h3>
		 <ion-list>
      		<ion-item ng-repeat="poi in pois">		
				<p align="center"><img align="middle" src= {{poi.icon}}></p>		
				<p align="center" style="font-weight: bold; font-size: large">{{poi.name}}</p>
				<p align="center">Category: {{poi.category}}</p>
				<p align="center" >User Rating: <span style='color: #{{poi.color}}'>{{poi.rating}}</span></p>
				<p align="center">Address: {{poi.address}} </p>
				<p align="center">Contact: {{poi.phone}} </p>
				<p align="center">Reason: {{poi.note}} </p>
				<p align="center">Website: {{poi.URL}} </p>
     		 </ion-item>
    </ion-list>
	
	</ion-content>
	
	<ion-tabs ng-controller="FlightCtrl" class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}({flightId: flightDetails.id})">
		</ion-tab>
	</ion-tabs>	
	
</ion-view>