<ion-view ng-controller="WeatherCtrl" view-title="Weather" ng-init="getLocation()">	
	<ion-header-bar class="bar-stable">
  		<button class="button button-icon"  ng-controller="NavCtrl" ng-click="toggleMenu()">
	      	<i class="icon ion-navicon"></i>
	    </button>
	  	<h1 class="title">Weather</h1>		  
    </ion-header-bar> 	
	<ion-content class="padding has-header">
		<h3 align="center">
			Current Climate
		</h3>
		<ion-list>
			<ion-item>
				<p align="center"><img src={{cCond[0].weatherIconUrl}}></p>
				<p align="center">Current Temperature: {{cCond[0].tempC}}</p>
				<p align="center">Feels Like: {{cCond[0].FeelsLikeC}}</p>
				<p align="center">Percentage Cloud Cover: {{cCond[0].cloudcover}}%</p>
			</ion-item>
		</ion-list>
		<h3 align="center">
			Forecast For Next 5 Days	
		</h3>

			<ion-slide-box show-pager="false" on-slide-changed="" >					
					<ion-slide ng-repeat="fc in forecasts">
						<p align="center"><img align="middle" src= {{fc.weatherIconUrl}}></p>
						<p align="center">Day: {{fc.day}} </p>
						<p align="center">Date: {{fc.date}}</p>	
						<p align="center">Min Temperature: {{fc.minC}} </p>	
						<p align="center">Max Temperature: {{fc.maxC}} </p>	
						<p align="center">UV Index: {{fc.uv}} </p>	
						<p align="center">Chance of Rain: {{fc.chanceOfRain}}%</p>	
					</ion-slide>
			</ion-slide-box>
			<p align="right">Powered by: World Weather Online</p>
	</ion-content>
	
	<ion-tabs ng-controller="FlightCtrl" class="tabs-positive">
		<ion-tab ng-repeat="tab in tabs"  title="{{tab.title}}" icon-on="{{tab.icon}}" icon-off="{{tab.icon}}" ui-sref="{{tab.link}}({flightId: flightDetails.id})">
		</ion-tab>
	</ion-tabs>	
	
</ion-view>
