/* Empty. Add your own CSS if you like */
ion-item.item[done='true'] {
	background-color: #50B948 !important;
}

ion-item[overdue='true'] {
	background-color: #C3122F !important;
	color: white;
}

.larger {
	font-size: larger;
}

.image-container {
	width: 100%;
}

.image-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carbon {
	background-color: #004C80;
	color: white;
}

.googleMap {
	width: 100%;
	height: 100%;
	display: block;
}

.angular-google-map-container {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 90%; 
	 
	 /*Must be defined*/
	 height: 400px;
}